<!DOCTYPE html>

<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <title>全部服务</title>

    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/all_service.css">

</head>

<body class="">

    <div class="partner-right">
        <main class="all-service-list">
            <% for(var i=0; i<list.length; i++) {%>
                <section class="all-service-element">
                    <a href="/inquiry?id=<%= list[i].problem.id%>">
                        <div class="qa-content">
                        <p class="gray-little">
                            <span class="qa-time"><%= list[i].problem.created_time%></span>
                            <span class="qa-status"><%=list[i].problem.status%><% if (list[i].problem.status=="医生已回复"||list[i].problem.status=="待回复"){%>
                        <span class="qa-status" style="color: #FF6134">
                        <% } else{%><span class="qa-status" style="color: #999999"> <% } %></span>
                        </p>
                        <p class="qa-text"><%=list[i].problem.ask%></p>
                        </div>
                        <div class="qa-info">
                            <%if (typeof(list[i].doctor.image)!="undefined"){%>
                            <img class="thumbnail" src="<%=list[i].doctor.image%>">
                            <span class="gray-little left"><%=list[i].doctor.name%></span>
                            <%}%>
                        </div>
                    </a>
                </section>
            <% } %>
        </main>

        <div class="notice" id="loading" style="display: none;">
            <span class="loading-icon"></span>
            <p>正在加载…</p>
        </div>
        <div id="more" class="more no-more" style="display: block; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">没有更多了</div>

    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="../weui.js"></script>
    <script type="text/javascript">
        $(".feedback_btn").on("click",function(){
            weui.toast('已提交', 3000);
        });
    </script>
</body>

</html>