<!DOCTYPE html>
<html class="no-js drshe_wap" style="font-size: 37.5px;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>求助医生</title>
    <link rel="shortcut icon" href="http://media2.chunyuyisheng.com/@/static/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/cy1.css">
    <link rel="stylesheet" href="../stylesheets/cy2.css">
    <link rel="stylesheet" href="../stylesheets/pay.css">
    <script type="text/javascript">
        window.addEventListener("resize", function () { var MAX_WIDTH = 640, htmlDom = document.querySelector("html"), htmlWidth = htmlDom.clientWidth, screenWidth = screen.width, width = Math.min(htmlWidth, MAX_WIDTH), htmlFontSize = width / 10, preHtmlFontSize = htmlDom.style.fontSize || ""; preHtmlFontSize = parseFloat(preHtmlFontSize); if (preHtmlFontSize && htmlFontSize == preHtmlFontSize) { return } if (screenWidth > 750) { htmlFontSize = 37.5 }; htmlDom.style.fontSize = htmlFontSize + "px" }); !function () { var event = document.createEvent("HTMLEvents"); event.initEvent("resize", false, false); window.dispatchEvent(event) }();
    </script>
    <style>
        header .header-top .logo {
            width: 2.6rem;
            margin-left: 2.8rem;
        }

        header .header-top .logo-text {
            color: #ccc
        }

        body {
            background-color: #f3fdf1
        }

        header {
            background-color: #fff
        }

        .service-element {
            background-color: #f3fdf1;
            border-bottom: 1px solid #e7e7e7 !important;
        }

        .kuaiwen {
            margin-left: 1rem;
        }

        .cy-btn {
            padding: .387rem;
        }

        .cy-btn-wrap {
            padding: 0 .4rem;
            margin-top: 1rem;
        }

        .weui-dialog__btn_primary {
            color: #0bb20c !important;
        }
    </style>
</head>

<body class="">
    <div class="partner-right">
        <header>

            <a class="header-link free" style="background-image: url(&#39;../assets/i/kuaiwen.png&#39;)" href="#">
                <h6 class="kuaiwen">快问医生</h6>
                <span class="kuaiwen header-link-tip">首次登录赠送2积分；每次问诊消耗2积分，</span>
                <br class="kuaiwen">
                <span class="kuaiwen header-link-tip">回复医生由系统指派，应答时长约3-5分钟。</span>
                <span class="next-icon"></span>
            </a>

        </header>
        <main class="service-list">

            <% for(var i=0; i<list.length; i++) {%>
                <% if (list[i].problem.status!="已关闭"&&list[i].problem.status!="系统举报"){%>
                    <a href="/inquiry?id=<%= list[i].problem.id%>">
                        <section class="service-element">
                            <% if (list[i].problem.status=="医生已回复"||list[i].problem.status=="待回复"){%>
                                <span class="qa-status" style="color: #FF6134">
                        <% } else{%><span class="qa-status" style="color: #999999"> <% } %><%=list[i].problem.status%></span>
                                <%if (typeof(list[i].doctor.image)!="undefined"){%>
                                    <img class="thumbnail" src="<%=list[i].doctor.image%>">
                                    <%}%>
                                        <div class="service-element-right">
                                            <%if (typeof(list[i].doctor.image)!="undefined"){%>
                                                <h6 class="doctor-name">
                                                    <%=list[i].doctor.name%>
                                                </h6>
                                                <%}%>
                                                    <p class="qa-detail">
                                                        <span><%=list[i].problem.created_time%></span>
                                                        <%if(list[i].problem.status=="医生已回复"){%>
                                                            <span><%=list[i].problem.clinic_name%></span>
                                                            <%}%>
                                                    </p>
                                                    <p class="qa-text">
                                                        <%=list[i].problem.ask%>
                                                    </p>
                                        </div>
                        </section>
                    </a>
                    <% } %>
                        <% } %>
        </main>
        <section class="mask hide">
            <div class="mask-content">
                <h6 class="mask-title">功能列表</h6>
                <ul class="mask-list">
                    <li>
                        <a href="all_service">
                            <span class="icon icon-all-service"></span>我的问诊
                        </a>
                    </li>
                    <li>
                        <a href="mypoints">
                            <span class="icon icon-my-count"></span>我的积分
                        </a>
                    </li>
                    <li>
                        <a href="advice">
                            <span class="icon icon-feedback"></span>
                            <span class="feedback-text">我的建议</span>
                        </a>
                    </li>
                </ul>

                <div class="mask-download">
                    <a href="">
                        <span class="icon-download"></span>下载"Dr.She"APP
                    </a>
                </div>

            </div>
        </section>
    </div>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="../weui.js"></script>
    <script type="text/javascript">
        $(".sidebar-icon").on("click", function () {
            $("body").addClass("no-scroll"), $(".mask").removeClass("hide"),
                $(".mask-content").addClass("show-move")
        }),
            $(".mask").on("click", function () {
                $(".mask").addClass("hide"), $("body").removeClass("no-scroll"),
                    $(".mask-content").removeClass("show-move")
            });
        addButton();
        // showUnreadNews();
        // function showUnreadNews() {
        //     $.ajax({
        //         type: "GET",
        //         url: "/inquiry/list/",
        //         dataType: "json",
        //         success: function (msg) {

        //         }
        //     });
        // }
        //setInterval('showUnreadNews()', 1000);
        $(".header-link.free").on("click", function () {
            hasAnswer();
        });
        function hasAnswer() {
            var count = $(".service-list").find("a").length;
            if (count > 0) {
                weui.confirm('上次问诊尚未结束，是否发起一个新的问诊？', {
                    buttons: [{
                        label: '跳转上次问诊',
                        type: 'default',
                        onClick: function () { window.location.replace($(".service-list").find("a")[0].href); }
                    }, {
                        label: '发起新问诊',
                        type: 'primary',
                        onClick: function () { window.location.replace("ask"); }
                    }]
                });
            } else {
                window.location.replace("ask");
            }
        }
        function addButton() {
            var count = $(".service-list").find("a").length;
            if (count == 0) {
                $('.service-list').append('<div class="cy-btn-wrap"><button class="cy-btn cy-btn-look " style="font-size:.48rem;background-color:#ff8487" type="submit">快速提问</button></div>');
            }
            $('body').css('background-color', '#e7e7e7');
            $('.cy-btn').on('click', function () {
                window.location.replace("ask");
            });
        }
    </script>
</body>

</html>